.win-breadcrumb {

    >a {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--def-fr);
        cursor: default;

        &:not(:last-child) {
            opacity: .7;

            &::after {
                display: inline-block;
                content: '\203A';
                opacity: .5;
                font-size: 2.2rem;
                margin-inline: 9px;
            }

            &:hover {
                opacity: .9;
            }

            &:active {
                opacity: .5;
            }
        }

        &:last-child {
            pointer-events: none;
        }
    }

    &.small>a {
        font-size: 1rem;
        font-weight: 400;

        &:not(:last-child)::after {
            font-size: 1.1rem;
            margin-inline: 4px;
        }
    }
}