:root {
    --nav-width: 300px;
    --main-block-pad: 20px;
    --main-offset-top: 30px;
}

.win-nav-dashboard {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.win-nav-dashboard {
    background-color: white;
}

.win-nav-dashboard.negative {
    background-color: var(--input-def-bg);
}

.win-nav-dashboard > nav {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--nav-width);
    height: 100%;
    overflow-y: scroll;
}

.win-nav-dashboard > main {
    position: absolute;
    left: var(--nav-width);
    top: 0;
    padding-block: var(--main-block-top);
    width: calc(100% - var(--nav-width));
    height: 100%;
    overflow-y: auto;
    transition: 180ms ease-out;
}

.win-nav-dashboard > main.immersive-box {
    top: var(--main-offset-top);
    height: calc(100% - var(--main-offset-top));
}

.win-nav-dashboard > main > div.app-contents {
    animation: win-dash-ani 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.win-nav-dashboard > main:not(.immersive-box) > div.app-contents {
    margin-inline: auto;
    padding-block: 30px;
    min-height: 100%;
    max-width: 1000px;
}

.win-nav-dashboard > main.immersive-box {
    background-color: var(--input-def-bg);
    border-top: 1px solid var(--input-def-border-color);
    border-left: 1px solid var(--input-def-border-color);
    border-top-left-radius: 10px;
}

.win-nav-dashboard > main.immersive-box > div.app-contents {
    height: 100%;
    width: 100%;
}

.win-nav-dashboard > main.immersive-box > div.app-contents > section .section-title {
    font-size: 1rem;
    font-weight: 500;
    margin-block: 0 5px;
}

.win-nav-dashboard > main.immersive-box > div.app-contents > section {
    margin-inline: 30px;
}

.win-nav-dashboard > main > div.app-contents > section {
    margin-block: 40px 0;
}

.win-nav-dashboard > main > div.app-contents > section:last-of-type {
    padding-bottom: 60px;
}

.win-nav-dashboard > nav {
    padding: 30px 8px;
}

.win-nav-dashboard > nav .nav-item {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 4px;
}

.win-nav-dashboard > nav .nav-link {
    position: relative;
    background-color: transparent;
    text-align: left;
    font-family: var(--font-family);
    width: 100%;
    display: block;
    padding: 0 12px;
    border-radius: var(--control-border-radius);
    line-height: 36px;
    border: none;
    margin-bottom: 4px;
    text-decoration: none;
    color: var(--def-fr);
    cursor: default;
    opacity: 1;
}

.win-nav-dashboard > nav .nav-link[data-current] {
    background-color: var(--menu-hov-bg);
}

.win-nav-dashboard > nav .nav-link[data-current]::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 30%;
    left: 0;
    top: 30%;
    width: 4px;
    height: 40%;
    background-color: var(--accent-color);
}

.win-nav-dashboard > nav .nav-link > img {
    position: relative;
    height: 20px;
    top: 4px;
    margin-right: 5px;
}

.win-nav-dashboard > nav .nav-link:hover {
    background-color: var(--menu-hov-bg);
    color: var(--hov-fr);
}

.win-nav-dashboard > nav .nav-link:active {
    opacity: .6;
}

.win-nav-dashboard > nav .nav-link[data-current='1'] {
    background-color: var(--menu-act-bg);
}

.win-nav-dashboard > nav > .profile-banner {
    display: flex;
    align-items: center;
    height: 80px;
    padding-inline: 6px;
    cursor: default;
    border-radius: var(--control-border-radius);
    margin-bottom: 25px;
}

.win-nav-dashboard > nav > .profile-banner:hover {
    background-color: var(--menu-hov-bg);
}

.win-nav-dashboard > nav > .profile-banner:active {
    opacity: .6;
}

.win-nav-dashboard > nav > .profile-banner > .profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    border: 1px solid var(--def-fr);
    margin-right: 16px;
}

.win-nav-dashboard > nav > .profile-banner > div > h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-block: 0 4px;
}

.win-nav-dashboard > nav > .profile-banner > div > h2 {
    font-size: .9rem;
    font-weight: 400;
    margin-block: 0;
}

@keyframes win-dash-ani {
    0% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        opacity: .2;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}