:root {
    --font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    --control-border-radius: 4px;
    --window-border-radius: 8px;

    --control-bg: white;
    --control-border-color: #ebebeb;

    --def-fr: #1B1B1B;
    --hov-fr: #1A1A1A;
    --act-fr: #5D5D5D;
    --dim-fr: #757575;

    --mica-lig-background: #ffffff9a;
    --mica-def-background: #ffffffda;
    --mica-hov-background: #ffffffee;
    --mica-act-background: #ffffffff;
    --mica-filter: blur(80px) saturate(5);
    --mica-border: 1px solid #b6b6b654;
    --mica-hov-border: 1px solid #b6b6b694;

    --acrlylic-background: #ffffff7a;
    --acrlylic-filter: blur(30px) saturate(3);
    --acrlylic-border: 1px solid #ffffff54;
    --acrlylic-mask-img: url(/etc/acrylic-mask.png);

    --menu-def-bg: white;
    --menu-hov-bg: #F5F5F5;
    --menu-act-bg: #ececec;

    --input-def-bg: #FBFBFB;
    --input-hov-bg: #F6F6F6;
    --input-act-bg: #F5F5F5;

    --input-def-border-color: #E5E5E5;
    --input-hov-border-color: #E5E5E5;
    --input-act-border-color: #E5E5E5;

    --input-def-bottom-border-color: #CCCCCC;
    --input-hov-bottom-border-color: #CCCCCC;
    --input-act-bottom-border-color: #E5E5E5;

    --drop-shadow-xl: 0 4px 16px 0 #00000055;
    --drop-shadow-sm: 0 3px 14px 0 #00000012;

    --check-def-border-color: #858585;

    --accent-color: #5774f1;

    --w-transition: .125s ease;
    --w-slide-down-ani: win-slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

html {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 20px;
}

body,
html {
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

@keyframes win-slide-bottom {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}