.win-button {
    display: inline-block;
    font-family: var(--font-family);
    background-color: var(--input-def-bg);
    color: var(--def-fr);
    border: 1px solid var(--input-def-border-color);
    border-bottom-color: var(--input-def-bottom-border-color);
    outline: none;
    border-radius: var(--control-border-radius);
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    user-select: none;
    text-decoration: none;
    text-align: center;
    cursor: default;
    width: fit-content;
    transition: var(--w-transition);
}

.win-button:hover {
    background-color: var(--input-hov-bg);
    color: var(--hov-fr);
    border: 1px solid var(--input-hov-border-color);
    border-bottom-color: var(--input-hov-bottom-border-color);
}

.win-button:active {
    background-color: var(--input-act-bg);
    color: var(--act-fr);
    border: 1px solid var(--input-act-border-color);
    border-bottom-color: var(--input-act-bottom-border-color);
}

.win-button:disabled,
.win-button[disabled] {
    opacity: .6;
    pointer-events: none;
}

.win-button > i {
    position: relative;
    font-size: 17px;
    top: 1px;
}

/*accent button*/
.win-button.accent,
/*toggle button*/
label.win-button:has(input:checked) {
    background-color: var(--accent-color);
    color: white;
    border: 1px solid #ffffff21;
    border-bottom-color: #00000041;
    opacity: 1;
}

.win-button.accent:hover {
    opacity: .8;
}

.win-button.accent:active {
    opacity: .6;
    box-shadow: none;
}

label.win-button:has(input) > input {
    display: none;
}

select.win-button {
    text-align: left;
    width: min-content;
}