.win-expander {
    border-radius: var(--control-border-radius);
    background-color: var(--input-def-bg);
    color: var(--def-fr);
    border: 1px solid var(--input-def-border-color);
    overflow: hidden;
    width: fit-content;
}

.win-expander > summary {
    position: relative;
    padding-block: 0 0;
    padding-inline: 18px 54px;
    min-height: 48px;
    line-height: 48px;
    width: 100%;
    user-select: none;
    transition: .165s ease-out;
}

.win-expander > summary::marker {
    content: '';
}

.win-expander > summary::after {
    position: absolute;
    display: block;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: var(--control-border-radius);
    content: '\f107';
    right: 4px;
    top: 4px;
    opacity: 1;
    text-align: center;
    line-height: 40px;
}

.win-expander > summary:hover::after {
    background-color: var(--input-act-bg);
}

.win-expander > summary:active::after {
    opacity: .5;
}

.win-expander[open] > summary::after {
    content: '\f106';
}

.win-expander > div {
    margin-top: -20px;
    border-top: 1px solid var(--input-def-border-color);
    background-color: white;
    padding: 16px;
}

.win-expander[open] > summary {
    padding-block: 0 18px;
}