div.win-filter-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.win-filter-strip .filter-group {
    display: inline-block;
    margin-left: 16px;
}

div.win-filter-strip .filter-group > label {
    font-size: 12px;
    opacity: .7;
    margin-right: 3px;
}

div.win-filter-strip .filter-group > label > img {
    position: relative;
    top: 2px;
    height: 14px;
    width: auto;
    margin-right: 4px;
}