.win-hyperlink {
    display: inline-block;
    background-color: transparent;
    font-family: var(--font-family);
    color: var(--accent-color);
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: var(--control-border-radius);
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    user-select: none;
    text-align: center;
    transition: var(--w-transition);
}

.win-hyperlink:hover {
    background-color: var(--input-hov-bg);
    border-color: var(--input-hov-bg);
}

.win-hyperlink:active {
    background-color: var(--input-act-bg);
    border-color: var(--input-act-bg);
    opacity: .7;
}