.win-split-button {
    display: inline-flex;
    gap: 0;

    >.win-button {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child, :first-child) {
            border-radius: 0;
            border-right: none;
        }
    }
}

.win-input-block {
    display: grid;
    gap: 10px;
}